* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1900px;
  width: 100%;
}

.form-container {
  height: calc(100vh - 68px);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px;
}

.form {
  width: 30%;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid red;
}

.form h3 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #ff0000;
}

.input-group {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.icon-container {
  display: block;
  width: 15%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff0000;
  color: #fff;
  font-size: 18px;
}
.input-group input {
  height: 100%;
  width: 85%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ff0000;
  letter-spacing: 1px;
  outline: none;
}

.user-btn {
  padding: 10px 20px;
  background-color: #ff0000;
  text-transform: capitalize;
  color: #fff;
  font-size: 18px;
  border: 0 solid;
  border-radius: 5px;
  cursor: pointer;
}

.custom-file-label {
  display: inline-block;
  width: calc(100% - 50px); /* Adjusting width to fill the remaining space */
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  background-color: #f0f0f0;
  color: #333;
}

.custom-file-label:hover {
  background-color: #e0e0e0;
}
